<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Employee</title>
  </head>
  <body>
    <h1>Add New Employee</h1>
    <form th:action="@{save}" th:object="${employee}" method="post">
      <label for="name">Name: </label>
      <input type="text" th:field="*{name}" placeholder="Name" id="name" />

      <label for="department">Department: </label>
      <select th:field="*{department}">
        <option
          th:each="department : ${departments}"
          th:value="${department.id}"
          th:text="${department.name}"
        ></option>
      </select>

      <label for="role">Role: </label>
      <select th:field="*{role}" id="role">
        <option
          th:each="role : ${roles}"
          th:value="${role.id}"
          th:text="${role.name}"
        ></option>
      </select>

      <label for="manager">Manager: </label>
      <select th:field="*{employeeManager}" id="manager">
        <option
          th:each="manager : ${managers}"
          th:value="${manager.id}"
          th:text="${manager.name}"
        ></option>
      </select>

      <label for="dob">Date of Birth: </label>
      <input type="text" th:field="*{dob}" placeholder="DOB" id="dob" />

      <label for="gender">Gender: </label>
      <input
        type="text"
        th:field="*{gender}"
        placeholder="Gender"
        id="gender"
      />

      <label for="email">Email: </label>
      <input type="text" th:field="*{email}" placeholder="Email" id="email" />

      <label for="phone">Phone Number: </label>
      <input
        type="text"
        th:field="*{phone}"
        placeholder="Phone Number"
        id="phone"
      />

      <label for="address">Address: </label>
      <input
        type="text"
        th:field="*{address}"
        placeholder="Address"
        id="address"
      />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
