<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Department Module</title>
  </head>
  <body>
    <a th:href="@{department/form}">FORM</a>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Department Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="department : ${departments}">
          <td th:text="${department.id}"></td>
          <td th:text="${department.name}"></td>
          <td>
            <a th:href="@{/department/{id}/edit(id=${department.id})}">EDIT</a>
            |
            <form
              th:action="@{/department/{id}/delete(id=${department.id})}"
              method="post"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
